GCP_PROJECT_ID=bookwise-509408
GCP_REGION=asia-southeast1
GKE_CLUSTER_NAME=bookwise-autopilot
GKE_NAMESPACE=bookwise
ARTIFACT_REGISTRY_REPOSITORY=bookwise
IMAGE_WEB=bookwise-web
IMAGE_API=bookwise-api
IMAGE_WORKER=bookwise-worker
GCS_BUCKET=bookwise-509408-storage
GKE_API_SERVICE_ACCOUNT=bookwise-api
GKE_WORKER_SERVICE_ACCOUNT=bookwise-worker
GKE_MIGRATOR_SERVICE_ACCOUNT=bookwise-migrator
GITHUB_DEPLOYER_SERVICE_ACCOUNT=bookwise-github-deployer
